/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 62%, 56%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(230, 16%, 45%);
  --border-color: hsl(230, 50%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ========================= Animated Style Start ======================= */
@keyframes slideRight{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideTop{
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideBottom{
  0%{
      transform: translateY(-100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideLeft{
  0%{
      transform: translateX(100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes Zoom{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  100%{
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes Float{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-24px);   
  }
  100%{
      transform: translateY(0);   
  }
}
/* ============================= Animated style End ===================== */
/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: hsl(230, 48%, 85%);
  --text-color: hsl(230, 16%, 70%);
  --border-color: hsl(230, 12%, 18%);
  --body-color: hsl(230, 12%, 8%);
  --container-color: hsl(230, 12%, 12%);
}


/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .shadow-header{
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .4);
}
.dark-theme .nav_menu{
  box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .4);
}
.dark-theme .scrollup{
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, .4);
}
.dark-theme .search,
.dark-theme .login
{
  background-color: hsla(230, 12%, 8%, .6);
}

.dark-theme::-webkit-scrollbar{
  background-color: hsl(230, 16%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(230, 16%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(230, 16%, 35%);
}



/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section_title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s, background-color .4s;
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--tirst-color);
  font-weight: var(--font-medium);
}
.nav_logo i{
  font-size: 1.25rem;
}


/* Navigation for mobile devices */
@media screen and (max-width:1150px){
  .nav_menu{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .1);
    padding: 1.25rem 4rem;
    transition: background-color .4s;
  }
}

.nav_list{
  display: flex;
  justify-content: space-between;
}

.nav_link{
  color: var(--text-color);
  transition: color .4s;
}

.nav_link span{
  display: none;
}

.nav_link i{
  font-size: 1.25rem;
}
.nav_link:hover{
  color: var(--first-color);
}
.nav_actions{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.nav_actions i{
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}
.nav_actions i:hover{
  color: var(--first-color);
}

/* Add shadow header */
.shadow-header{
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1)
}

/* Active link */
.active-link{
  color: #0fc55b;
}

/*=============== SEARCH ===============*/
.search{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: hsla(230, 12%, 96%, .6);
  backdrop-filter: blur(16px);
  padding: 8rem 1.5rem;
  transition: top .4s;
}
.search_form{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding-inline: 1rem;
}
.search_icon{
  font-size: 1.25rem;
  color: var(--title-color);
}
.search_input{
   width: 100%;
   padding-block: 1rem;
   background-color: var(--container-color);
   color: var(--text-color);
}
.search_close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Show search */
.show-search{
  top: 0;
}


/*=============== LOGIN ===============*/
.login{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-fixed);
  background-color: hsla(230, 12%, 96%, .6);
  backdrop-filter: blur(16px);
  align-items: center;
  padding: 1.5px;
  text-align: center;
  transition: top .6s;
  
}
.login_form{
  background-color: var(--container-color);
  padding: 2rem 1.5rem;
  border: 2px solid var(--border-color);
  row-gap: 1.25rem;
}
.login_title{
  font-size: var(--h2-font-size);
}
.login_group{
  row-gap: 1.25rem;
}
.login_label{
  display: block;
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}
.login_input{
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  color: var(--text-color);
}
.login_signup,
.login_forgot{
  display: block;
  font-size: var(--small-font-size);
}
.login_signup{
  margin-bottom: .5rem;
}
.login_signup a{
  color: var(--first-color);
  font-weight: var(--font-medium);
}
.login_forgot{
  color: var(--first-color);
  margin-bottom: 1.25rem;
}
.login_button{
  width: 100%;
  cursor: pointer;
}
.login_close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Show login */
.show-login{
  top: 0;
}

/*=============== HOME ===============*/
.home_swiper{
  margin: initial;
  animation: slideTop 1s ease forwards;
}
.home_container{
  padding-top: 2rem;
  row-gap: 2.5rem;
}
.home_data{
  text-align: center;
}
.home_title{
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
  animation: slideTop 1s ease forwards;
}
.home_description{
  margin-bottom: 2rem;
  animation: slideTop 2s ease forwards;
}
.home_images{
  display: grid;
}
.home_article,
.home_img{
  width: 220px;
  transition: scale .4s;
}
.home_article{
  scale: .8;
}
/* Swiper class */
.swiper-slide-active,
.swiper-slide-duplicate-active{
  scale:1;
}

/*=============== BUTTON ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
  animation: slideTop 1s ease forwards;
}
.button:hover{
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}


/*=============== SERVICES ===============*/
.services_container{
  row-gap: 3rem;
}
.services_card{
  text-align: center;
  animation: slideTop 1s ease forwards;
}
.services_card i{
  display: block;
  font-size: 3rem;
  color: var(--first-color);
  margin-bottom: 1rem;
}
.services_title{
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}
/*=============== FEATURED ===============*/
.featured_swiper{
  animation: slideBottom 1s ease forwards;
}
.featured_card{
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding: 2rem;
  overflow: hidden;
  border: 2px solid var(--border-color);
  transition: border .4s background-color .4s;
  
}
.featured_img{
  width: 150px;
  margin: 0 auto .75rem;
}
.featured_title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}
.featured_prices{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 1.25rem;
}
.featured_discount{
  color: var(--title-color);
}
.featured_price{
  font-size: var(--small-font-size);
  text-decoration: line-through;
}
.featured_card .button{
  cursor: pointer;
}
.featured_actions{
  display: inline-flex;
  flex-direction: column;
  row-gap: .75rem;
  position: absolute;
  top: 2rem;
  right: -1.5rem;
  transition: right .4s;
}
.featured_actions button{
  background: none;
  font-size: 1.25rem;
  color: var(--first-color);
  cursor: pointer;
}
.featured_card:hover .featured_actions{
  right: 1.5rem;
}
/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}
.swiper-button-prev,
.swiper-button-next{
  width: initial;
  height: initial;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: .5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  transition: border .4s background-color .4s;
}
/*=============== DISCOUNT ===============*/
.discount_container{
  row-gap: 3.5rem;
}
.discount_data{
  text-align: center;
  animation: slideRight 1s ease forwards;
}
.discount_title{
  margin-bottom: 1rem;
}
.discount-description{
  margin-bottom: 2rem;
}
.discount_images{
  display: flex;
  justify-content: center;
  animation: slideLeft 1s ease forwards;
}
.discount_img-1,
.discount_img-2{
  width: 170px;
}
.discount_img-1{
  transform: translateX(1rem) rotate(-10deg);
}
.discount_img-2{
  transform: translateX(-1rem) rotate(10deg);
}

/*=============== NEW ===============*/
.new_card{
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  background-color: var(--container-color);
  padding: 1.5rem 1rem;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  transition: border .4s, background-color .4s;
}
.new_card:hover{
  border: 2px solid var(--text-color);
}
.new_img{
  width: 100px;
}
.new-title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}
.new-prices{
  display: flex;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: .75rem;
}
.new_discount{
  color: var(--title-color);
}
.new_price{
  font-size: var(--small-font-size);
  text-decoration: line-through;
}
.new_stars{
  color: var(--first-color);
}
.new_swiper:nth-child(1){
  margin-bottom: 2rem;
}

/*=============== JOIN ===============*/
.join_container{
  position: relative;
  padding-block: 3rem;
}
.join_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.join_data{
  position: relative;
}
.join_title{
  color: var(--white-color);
}
.join_form{
  display: grid;
  row-gap: 1rem;
}
.join_input{
  padding: 1.25rem 1rem;
  background-color: var(--body-color);
  color: var(--title-color);
  transition: background-color .4s;
}
.join_input::placeholder{
  color: var(--text-color);
}
.join_button{
  padding-block: 1.25rem;
  cursor: pointer;
}
/*=============== TESTIMONIAL ===============*/
.testimonial_card{
  text-align: center;
  background-color: var(--container-color);
  padding: 2rem 3rem 2.5rem;
  border: 2px solid var(--border-color);
  transition: border .4s background-color .4s;
}
.testimonial_img{
  width: 100px;
  border-radius: 50%;
  margin: 0 auto 1.5rem;
}
.testimonial_title{
  font-size: var(--h2-font-size);
  margin-bottom: .75rem;
}
.testimonial_description{
  font-size: var(--small-font-size);
  margin-bottom: 1.25rem;
}
.testimonial_stars{
  color: var(--first-color);
}

/*=============== FOOTER ===============*/
.footer{
  padding-block: 4rem 6rem;
}
.footer-container{
  row-gap: 3rem;
}
.footer-logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.25rem;
}
.footer_logo i{
  font-size: 1.25rem;
}
.footer_data{
  grid-template-columns: repeat(2, max-content);
  gap: 3rem 2rem;
}
.footer-title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}
.footer-links{
  display: grid;
  row-gap: .5rem;
}
.footer_link{
  color: var(--text-color);
  transition: color .4s;
}
.footer_link:hover{
  color: var(--first-color);
}
.footer-info{
  font-style: normal;
}
.footer-social{
  display: flex;
  column-gap: 1.25rem;
}
.footer-social-link{
  font-size: 1.25rem;
  color: var(--first-color);
}
.footer_copy{
  display: block;
  margin-top: 5rem;
  text-align: center;
  font-size: var(--small-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(230, 16%, 85%);
}
::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(230, 16%, 65%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(230, 16%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s, bacground-color .4s;
}
.scrollup:hover{
  transform: translateY(-.5rem);
}


/* Show Scroll Up */
.show-scroll{
  bottom: 6rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: 1rem;
  }
  .nav_menu{
    padding-inline: 3rem;
  }
  .discount_img-1,
  .discount_img-2{
    width: 140px;
  }
  .new_card{
    flex-direction: column;
  }
  .testimonial_card{
    padding-inline: 1rem;
  }
  .footer_data{
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

/* For medium devices */
@media screen and (min-width:450px){
  .featured_card{
    width: 290px;
  }
  .new_card{
    width: 390px;
  }
  .testimonial_card{
    width: 320px;
  }
}

@media screen and (min-width:576px){
  .search_form{
    width: 500px;
    margin-inline: auto;
  }
  .login_form{
    width: 400px;
    justify-self: center;
  }
  .search_close,
  .login_close{
    width: max-content;
    top: 4rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }
  .nav_menu{
    width: 380px;
    margin-inline: auto;
  }
  .home_container,
  .discount_container{
    grid-template-columns: 420px;
    justify-content: center;
  }
  .join_form{
    width: 328px;
    justify-self: center;
  }
  .footer_data{
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width:768px){
  .home_container{
    grid-template-columns: 580px;
  }
  .home_data{
    width: 420px;
    justify-self: center;
  }
  .services_container{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 5rem;
  }
  .footer-container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

 /* For large devices  */
 @media screen and (min-width: 1150px){
  .section{
    padding-block:7rem 2rem
  }
  .nav{
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }
  .nav_link i{
    display: none;
  }
  .nav_link span{
    display: block;
  }
  .nav_menu{
    width: initial;
    margin-inline: auto 0;
  }
  .nav_list{
     column-gap: 4rem;
  }
  .nav_link{
    font-weight: var(--font-medium);
  }
  .dark-theme .nav_menu{
    box-shadow: none;
  }
  .home_data{
    width: initial;
  }
  .services_container{
    column-gap: 10rem;
  }
  .services_card i{
    font-size: 3.5rem;
  }
  .featured_container{
    padding-top: 2rem;
  }
  .featured_title{
    font-size: var(--h3-font-size);
  }
  .discount_container{
    grid-template-columns: 615px 500px;
    justify-content: space-between;
    align-items: center;
  }
  .discount_data{
    order: 1;
  }
  .discount_data,
  .discount_title{
    text-align: initial;
  }
  .discount-description{
    margin-bottom: 3.5rem;
  }
  .discount_img-1,
  .discount_img-2{
    width: 300px;
  }
  .new_container{
    padding-top: 2rem;
  }
  .new_card{
    padding: 1.5rem;
  }
  .new_img{
    width: 120px;
  }
  .new_title{
    font-size: var(--h3-font-size);
  }
  .join_bg{
    object-position: 0 -5rem;
  }
  .testimonial_container{
    padding-top: 2rem;
  }
  .testimonial_card{
    padding-inline:2rem;
  }
  .testimonial_title{
    font-size: var(--h3-font-size);
  }
  .testimonial_description{
    font-size: var(--normal-font-size);
  }
  .footer{
    padding-block: 6rem 3rem;
  }

  .footer_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer_data{
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
  .footer_logo,
  .footer_title{
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }
  .footer_links{
    row-gap: 1rem;
  }
  .footer_social{
    column-gap: 1.5rem;
  }
  .footer_social-link{
    font-size: 1.5rem;
  }
  .footer_copy{
    margin-top: 7.5rem;
  }
  .scrollup{
    right: 3rem;
  }
  .show-scroll{
    bottom: 3rem;
  }
 }

@media screen and (min-width: 1220px){
  .container{
    margin-inline: auto;
  }
  .home_container{
    grid-template-columns: 435px 745px;
    align-items: center;
    padding-block: 7rem 2rem;
  }
  .home_data{
    text-align: initial;
  }
  .home_description{
    margin-bottom: 4rem;
  }
  .home_article,
  .home_img{
    width: 290px;
  }
}


